.square-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.billboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10vh;
}

.billboard-all {
    font-size: 15vw;
    margin: 0;
}

.billboard-standalone {
    font-size: 20vw;
    margin-top: 10%;
}

.billboard-compare {
    font-size: 20vw;
    margin: 0;
    margin-bottom: 5vw;
}

.billboard-line {
    font-size: 20vw;
    margin: 0;
    margin-bottom: 5vw;
}

.compare {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 12px;
}

.compare-elements {
    font-size: 12vw;
}

[class*='wnd-Icon'].compare-icon {
    font-size: 8vw !important;
}

[class*='wnd-Chart'].spark-line-chart {
    width: 100%;
    height: 100%;

    [class*='vz--component'] {
        background-color: transparent;
    }

    [class*='component--no-data'] {
        visibility: hidden;
    }

    svg {
        height: 100%;
        margin: 0;
        min-height: auto;
      }
}