.square-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.title {
    align-self: flex-start;
    margin: 0;
    margin-left: 8px;
    margin-top: 4px;
}

.billboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.billboard {
    font-size: 80px;
    margin: 0;
}

[class*='wnd-Chart'].spark-line-chart-alert-bb {
    width: 100%;
    height: 100px;
    margin-top: 20vh;

    [class*='vz--component'] {
        background-color: transparent;
    }

    [class*='component--no-data'] {
        visibility: hidden;
    }

    svg {
        height: 100px;
        margin: 0;
        min-height: auto;
      }
}