//Status variables
$success: #01A76A;
$warning: #FFD23D;
$critical: #F5554B;
$unknown: #9EA5A9;

//Hexagon sizes
$small-hex-width: 18px;
$small-hex-height: 20px;
$large-hex-width: 158px;
$large-hex-height: 160px;

.status-icons-wrapper {
  display: flex;
  margin-bottom: 3px;
}

.status-icons-container-small {
  font-size: 0;

  &::before {
    content: "";
    width: calc($small-hex-height / 2);
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 34px, #000 0 35px);
  }
}

.status-icon-small {
  cursor: pointer;
  display: inline-block;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: $small-hex-height;
  width: $small-hex-width;
  transition: all .2s ease;
  margin-left: 2px;
  margin-bottom: -2.5px;

  &.success {
    background-color: $success;
  }
  &.warning {
    background-color: $warning;
  }
  &.critical {
    background-color: $critical;
  }
  &.unknown {
    background-color: $unknown;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.small-remaining-entities {
  display: inline;
  margin-left: 4px;
  font-size: small;
  font-weight: bold;
  white-space: nowrap;
}

.status-icons-container-large {
  &::before {
    content: "";
    width: 81px;
    float: left;
    height: 90%;
    shape-outside: repeating-linear-gradient(#0000 0 182px, #000 0 240px);
  }
}


.status-icon-large {
  display: inline-block;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: $large-hex-height;
  width: $large-hex-width;
  margin-left: 4px;
  margin-bottom: -36px;

  &.clickable {
    cursor: pointer;
  }

  &.success {
    background-color: $success;
  }
  &.warning {
    background-color: $warning;
  }
  &.critical {
    background-color: $critical;
  }
  &.unknown {
    background-color: $unknown;
  }
}

.data-container {
  margin-top: 25%;

  &.signal-two {
    padding-top: 2%;
  }

  &.last-none {
    padding-top: -1%;
  }

  &.last-one {
    padding-top: 4%;
  }

  &.last-two {
    padding-top: 16.5%;
  }

  &.last-three {
    padding-top: 17%;
  }
}

.entity-name {
  margin: 0;
  text-align: center;
  margin: 10px 2px 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.golden-metric {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 0;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.golden-metric-key {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  padding-left: 2px;
}

.golden-metric-value {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 0 auto;
  padding-right: 2px;
}

//Tooltip
.EntityTooltip {
  $self: &;
  background-color: #202d32;
  box-shadow: rgba(#283636, 0.15) 16px 8px 32px;
  box-sizing: border-box;
  padding: 4px 0;
  width: 288px;
  z-index: 10;
}

.EntityTooltipHeader {
  border-bottom: #e7e9ea 1px solid;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 0;

  &-titleBar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 calc(-1 * 8px);
  }

  &-title {
    color: #f1f5f5;
    flex: 1;
    font-size: 12px;
  }

}

.EntityTypeAndAccountLabel {
  $self: &;
  color: #f1f5f5;

  &-type {
    & + #{$self}-account {
      &::before {
        border-left: 1px solid;
        content: '';
        height: 100%;
        margin-left: 4px;
        padding-left: 4px;
      }
    }
  }

  &-account,
  &-type {
    display: inline;
    word-break: break-all;
  }

}

.EntityTooltipContent {
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 0;
  color: #f1f5f5;
}
