@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.EmptyState,
.ErrorState {
    height: 100%;
    text-align: center;

    &-cardBody {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.ErrorState-headingText {
    color: darkgrey;
}


.mapboxgl-popup-close-button{
    display: none;
}